body{
  background-color: #e6e6e8;
  font-family: Roboto, sans-serif;
  color: white;
  height: 100%;
}

#title{
  color: black;
  font-size: 45px;
  margin: auto;
}

.problem1, .problem2{
  max-width: 800px;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
}


.problem1{
  background-color: #427DBC;
  padding: 50px;
}

.problem2{
  background-color: #e05038;
  padding: 50px;
  /*float: right;*/
}

h1{
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 700;
}

input{
  padding: 5px;
  font-size: 15px;
}

button{
  padding: 10px;
  background-color: #FFE27A;
  text-transform: uppercase;
  font-weight: 700;
}

#output1, #output2{
  font-weight: 600;
}
